*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-25{
    width: 25%;
    background-color: orangered;
}

.col-50{
    width: 50%;
    background-color: orangered;
}

ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    margin: 10px;
}

.content img{
    background-size: cover;
    width: 30%;
}

.content{
    text-align: center;
    margin: 10px;
}

/* main */

main{
    margin: 20px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3);
}

.content-main{
    background-color: red;
    border: 1px solid black;
    height: 300px;
    margin: 10px;
}

