*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-25{
    width: 25%;
    background-color: orangered;
}

.col-50{
    width: 50%;
    background-color: orangered;
}

ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    margin: 10px;
}

.content img{
    background-size: cover;
    width: 30%;
}

.content{
    text-align: center;
    margin: 10px;
}

/* main */

main{
    margin: 25px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3);
}

.content-main{
    margin: 10px;
    position: relative;
}

.content-main img{
    width: 100%;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
}

.bg-green{
    background-color: green;
    
    margin: 5px;
}

.bg-red{
    background-color: red;
    
    margin: 5px;
}

.label{
    color: white;
}

.labels{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 90px;
}

.red{
    color: red;
}